---
import { createTranslator, t } from "@/i18n";
import BarSectionContentDeskView from "@/components/BarSectionContentDeskView";
import BarSectionContentMobileView from "@/components/BarSectionContentMobileView";
//this get options amount works for all languages
import es from "@/i18n/es.json";

const tl = createTranslator(Astro.currentLocale);
const experiences = JSON.stringify(
    Object.values(es.body.ranger.job_experiences),
);
const careers = JSON.stringify(Object.values(es.body.ranger.careers));
const projects = JSON.stringify(Object.values(es.body.ranger.projects));
---

<section class="flex flex-col w-full h-full">
    <div
        id="show-terminal-exp-4"
        aria-label="simulated-linux-terminal"
        class="lg:text-sm sm:text-sm opacity-0 flex flex-col justify-start bg-transparent z-20 absolute w-full h-full items-center border-bg-variant border-2"
    >
        <span
            id="terminal-header-main"
            class="flex flex-row justify-center items-center bg-bg-primary text-text-tertiary min-h-10 w-full px-4"
        >
            <p class="text-nowrap overflow-hidden text-ellipsis max-w-[70%]">
                {tl("terminal.terminal-remote-header")}
                {tl("terminal.terminal-folder-symbol")}{
                    tl("terminal.terminal-main-folder")
                }{tl("terminal.terminal-skills-dir")}
            </p>
        </span>
        <section
            class="hidden bg-bg-secondary text-primary lg:flex xl:flex flex-col items-center bg-secondary h-full w-full p-5 overflow-y-hidden"
        >
            <BarSectionContentDeskView
                client:load
                experienceContent={experiences}
                careerContent={careers}
                projectsContent={projects}
            />
        </section>
        <section
            class="lg:hidden bg-bg-secondary text-primary flex flex-col items-center bg-secondary h-full w-full p-5 overflow-y-hidden"
        >
            <BarSectionContentMobileView
                client:load
                experienceContent={experiences}
                careerContent={careers}
                projectsContent={projects}
            />
        </section>
    </div>
</section>
<script>
    //first step: show terminal
    const terminal = document.getElementById("show-terminal-exp-4");
    window.addEventListener("terminal:3:opacity-reduced", () => {
        terminal?.classList.remove("opacity-0");
        terminal?.classList.add("animate-openTerminal");
    });
</script>
