---
import { useI18n } from "@ariaskit/astro-i18n";
const { t, lang } = useI18n(Astro);

import RangerShowOptions from "@/components/RangerShowOptionContent";

//this get options amount works for all languages
import es from "../../i18n/es.json";
const options = Object.values(es.body.ranger.options);
const experiences = JSON.stringify(
    Object.values(es.body.ranger.job_experiences),
);
const careers = JSON.stringify(Object.values(es.body.ranger.careers));
const projects = JSON.stringify(Object.values(es.body.ranger.projects));
---

<section class="flex flex-col w-full h-full">
    <div
        id="show-terminal-main-exp-2"
        aria-label="simulated-linux-terminal"
        class="lg:text-sm sm:text-sm opacity-0 flex flex-col justify-start bg-bg-secondary text-text-secondary z-20 absolute w-full h-full items-center border-bg-variant border-2"
    >
        <span
            id="terminal-header-main"
            class="flex flex-row justify-center items-center text-text-tertiary bg-bg-primary min-h-10 w-full px-4"
        >
            <p class="text-nowrap overflow-hidden text-ellipsis max-w-[70%]">
                {t("terminal.terminal-remote-header")}
                {t("terminal.terminal-folder-symbol")}{
                    t("terminal.terminal-main-folder")
                }
            </p>
            <p
                class="text-nowrap overflow-hidden text-ellipsis max-w-[70%] content-section"
                data-section-index="0"
            >
                {t("terminal.terminal-experience-dir")}
            </p>
            <p
                class="text-nowrap overflow-hidden text-ellipsis max-w-[70%] content-section hidden"
                data-section-index="1"
            >
                {t("terminal.terminal-career-dir")}
            </p>
            <p
                class="text-nowrap overflow-hidden text-ellipsis max-w-[70%] content-section hidden"
                data-section-index="2"
            >
                {t("terminal.terminal-projects-dir")}
            </p>
        </span>
        <section
            id="terminal-content-main"
            class="flex flex-col items-center bg-secondary h-[95%] w-full p-5"
        >
            <span class="font-medium w-full flex flex-row text-nowrap"
                >{t("terminal.terminal-remote-header")}{
                    t("terminal.terminal-folder-symbol")
                }{t("terminal.terminal-main-folder")}
                <p
                    class="text-nowrap overflow-hidden text-ellipsis max-w-[70%] content-section h-full"
                    data-section-index="0"
                >
                    {t("terminal.terminal-experience-dir")}
                </p>
                <p
                    class="text-nowrap overflow-hidden text-ellipsis max-w-[70%] content-section h-full hidden"
                    data-section-index="1"
                >
                    {t("terminal.terminal-career-dir")}
                </p>
                <p
                    class="text-nowrap overflow-hidden text-ellipsis max-w-[70%] content-section h-full hidden"
                    data-section-index="2"
                >
                    {t("terminal.terminal-projects-dir")}
                </p>
            </span>
            <div
                class="lg:flex lg:flex-row md:flex md:flex-col lg:border-2 md:border-0 border-bg-primary bg-bg-secondary w-full h-[90%] overflow-y-hidden"
            >
                <section
                    id="leftContainer"
                    class="lg:w-1/4 lg:overflow-y-scroll md:w-full p-2 md:pb-5"
                >
                    <ul id="leftList">
                        {
                            options.map((key, index) => (
                                <li
                                    data-index={index}
                                    class="xl:text-[1.3rem] md:text-sm text-nowrap overflow-hidden text-ellipsis
  cursor-pointer list-item-left font-medium border pl-1
  bg-bg-secondary border-bg-secondary text-text-secondary"
                                >
                                    {t(`body.ranger.options.${index}`)}
                                </li>
                            ))
                        }
                    </ul>
                </section>
                <section
                    class="lg:w-3/4 md:w-full lg:h-full h-3/4 lg:pt-2 p-2 pb-0 md:pt-0 lg:border-l-2 md:border-l-0 border-bg-variant"
                >
                    <div class="content-section h-full" data-section-index="0">
                        <RangerShowOptions client:load content={experiences} />
                    </div>

                    <div
                        class="content-section h-full hidden"
                        data-section-index="1"
                    >
                        <RangerShowOptions client:load content={careers} />
                    </div>
                    <div
                        class="content-section h-full hidden"
                        data-section-index="2"
                    >
                        <RangerShowOptions client:load content={projects} />
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>
<script>
    //show 2nd terminal
    const terminal = document.getElementById("show-terminal-main-exp-2");
    window.addEventListener("terminal:first:opacity-reduced-exp-2", () => {
        terminal?.classList.remove("opacity-0");
        terminal?.classList.add("animate-openTerminal");
        terminal?.addEventListener(
            "animationend",
            () => {
                window.dispatchEvent(new CustomEvent("ranger:part2:ended"));
            },
            { once: true },
        );
    });
</script>
<script>
    const leftList = document.getElementById("leftList");
    let menuLeftSelector = 0;
    function updateSelectedItem(newIndex: string) {
        document
            .querySelectorAll("#leftList .list-item-left")
            .forEach((item) => {
                item.classList.remove(
                    "bg-bg-variant",
                    "text-text-same",
                    "border-red-500",
                );
                item.classList.add(
                    "bg-bg-secondary",
                    "border-bg-secondary",
                    "text-text-secondary",
                );
            });
        const selected = document.querySelector(
            `#leftList .list-item-left[data-index="${newIndex}"]`,
        );

        if (selected) {
            selected.classList.add(
                "bg-bg-variant",
                "text-text-same",
                "border-bg-secondary",
            );

            selected.classList.remove(
                "bg-bg-secondary",
                "text-text-secondary",
                "border-bg-secondary",
            );
        }
    }
    updateSelectedItem(menuLeftSelector);

    leftList?.addEventListener("click", (event) => {
        const target = event.target;
        if (!(target instanceof HTMLElement)) return;

        const li = target.closest(".list-item-left");
        if (!(li instanceof HTMLLIElement)) return;

        menuLeftSelector = Number(li.dataset.index);
        updateSelectedItem(menuLeftSelector);

        window.dispatchEvent(
            new CustomEvent("menu:left:changed", {
                detail: { index: menuLeftSelector },
            }),
        );
    });
</script>

<script>
    window.addEventListener("menu:left:changed", (event) => {
        const index = event.detail.index;
        const sections = document.querySelectorAll(".content-section");

        sections.forEach((section) => {
            const sectionIndex = Number(section.dataset.sectionIndex);

            if (sectionIndex === index) {
                section.classList.remove("hidden");
            } else {
                section.classList.add("hidden");
            }
        });
    });
</script>
